.c8y-map {
  position: relative;
}

.map-container {
  width: 100%;
  height: 100%;
  position: inherit;
}

.railway-loading-overlay {
  position: absolute;
  top: 92px;
  height: 53px;
  left: 17px;
  z-index: 1000;
  pointer-events: none;
  padding: 6px 10px;
  background: #fff;
}

.div-icon {
  border: none;
  background: none;
}

.div-icon-text {
  font: bold 6px sans-serif;
  fill: 'white';
}