<c8y-modal
  title="{{ title | translate }}"
  (onClose)="onClose()"
  (onDismiss)="onDismiss()"
  [labels]="labels"
  style="width: 100%"
>
  <div class="form-group m-t-16">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="config"
    ></formly-form>
  </div>
  <div class="form-group m-t-16">
    <label>Actions</label>
      <span *ngFor="let action of config.actions" class="row m-0">
        <input
          class="form-control input-sm col-sm-10"
          type="text"
          [(ngModel)]="action.label"
          [tooltip]="action.body | json" />
        <button class="btn btn-dot col m-l-8" (click)="removeAction(action)">
          <i c8yIcon="minus-circle" class="text-danger"></i>
        </button>
      </span>
  </div>
    <button 
      class="btn btn-default btn-sm" 
      (click)="isActionsFormCollapsed = false; scroll(addActionBtn);"
      [disabled]="!isActionsFormCollapsed">
      <i c8yIcon="plus-circle" class="m-r-4"></i>Add action
    </button>

  <div class="actions-form" [collapse]="isActionsFormCollapsed" [isAnimated]="true">

  
  <div class="legend form-block center">Add action</div>
  <div class="form-group m-t-16">
    <div class="tabContainer">
      <!-- tabs -->
      <ul class="nav nav-tabs nav-tabsc8y m-b-8">
        <li *ngFor="let t of tabs" [class.active]="t.active">
          <button
            type="button"
            [title]="t.label"
            [disabled]="t.disabled"
            (click)="changeTab(t.id)"
          >
            <i *ngIf="t.icon" class="{{ t.icon }}"></i>
            <span class="txt">{{ t.label }}</span>
          </button>
        </li>
      </ul>

      <!-- tab content -->
      <ng-container class="tab">
        <mapping-json-editor [data]="jsonEditorData" (textChange)="onChange($event)"></mapping-json-editor>
        <small class="text-danger" *ngIf="jsonErrorMessage">{{ jsonErrorMessage }}</small>
      </ng-container>

      <div class="m-t-16">
        <button 
        #addActionBtn 
        class="btn btn-primary" 
        (click)="addAction(currentTab)"
        [disabled]="jsonErrorMessage"
        >
          {{('Add' | translate) + ' ' + currentTab}}
      </button>
        <button class="btn btn-default" (click)="cancelAdd()">{{'Cancel' | translate}}</button>
      </div>
      
    </div>
    
  </div>
</div>

</c8y-modal>
