<!-- <sub-device-resolver
  [device]="config?.device"
  (subDevices)="onSubDevicesChanged($event)"
></sub-device-resolver> -->
<div class="p-24">
  <div class="legend form-block" *ngIf="config.positionPolling">
    {{ 'General' | translate }}
  </div>

  <div class="form-inline">
    <div class="form-group">
      <span>{{ 'Toggle location update polling' | translate }}</span>
      <label class="c8y-switch" title="{{ 'Toggle location update polling' | translate }}">
        <input
          type="checkbox"
          [(ngModel)]="config.positionPolling.enabled"
          name="positionPolling"
          (change)="togglePositionPolling()"
        />
        <span></span>
      </label>
    </div>

    <div class="form-group">
      <label for="intervalSlider">Interval in seconds</label>
      <input
        id="intervalSlider"
        type="range"
        min="1"
        max="60"
        step="1"
        [(ngModel)]="config.positionPolling.interval"
        [disabled]="!config.positionPolling.enabled"
      />
      <span>{{ config.positionPolling.interval }} {{ 'seconds' | translate }}</span>
    </div>
  </div>

  <div class="legend form-block">
    {{ 'Layers' | translate }}
  </div>

  <button
    title="{{ 'Add layer' | translate }}"
    class="btn btn-default btn-icon btn-sm m-t-8"
    (click)="openLayerModal()"
  >
    <i c8yIcon="plus-circle"></i>
    <span translate>Add layer</span>
  </button>

  <layer-list
    [layers]="config.layers"
    (editLayer)="editLayer($event)"
    (editPopover)="editPopover($event)"
    (deleteLayer)="deleteLayer($event)"
  ></layer-list>

  <div class="legend form-block">
    {{ 'Tracks' | translate }}
  </div>

  <track-list
    [tracks]="config?.tracks"
    [selectedTrackName]="config?.selectedTrack"
    [selectable]="true"
    (deleteTrack)="deleteTrack($event)"
    (userChangedSelection)="userChangedSelection($event)"
  ></track-list>

  <div class="form-inline m-t-8">
    <div class="form-group">
      <button
        type="button"
        class="btn btn-default btn-icon btn-sm"
        [disabled]="!config.devices || config.devices.length === 0"
        (click)="openEventTrackCreatorModal()"
      >
        <i c8yIcon="history"></i>&nbsp;Create track from events
      </button>
    </div>

    <div class="form-group">
      <button
        type="button"
        class="btn btn-default btn-icon btn-sm"
        (click)="openDrawTrackCreatorModal()"
      >
        <i c8yIcon="pencil"></i>&nbsp;Draw track
      </button>
    </div>
  </div>
</div>
